.header {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  color: #111517;

  .headerContainer {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerH1 {
      font-size: 24px;
      font-weight: 800;
    }

    .modeDiv {
      width: 108px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.headerDark {
  background-color: #2b3844 !important;
  color: white;
}
